/*-------------------------------------
             General
--------------------------------------*/
.wrapper {
    
    width: 800px;
    margin: 0 auto;

}

h4 {
  display: inline-block;
}

li {
    margin-left: 82px;
}
/*-------------------------------------
          Limpiador Universal
--------------------------------------*/

.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.title {
    border-bottom: 1px solid #666666;
    line-height: 50px;
}

.picture {
    float: right;
    margin-top: -86px;
}

.info {
    font-family: arial, serif;
}

.colorD {
    color: #666666;
}
/*---------------------------------
            Contenido
----------------------------------*/
.content {
    margin-top: 20px;
    display: inline-block;
    margin-left: 73px;
} 
.line {
    border-right: 2px solid #999999;
    float: left;
    width: 85px;
    height: 120px;
    margin-bottom: -120px;
}

 .title2 {
  display: inline-block;
    /* float: right; */
    /* margin-right: 140px; */
    margin-left: -25px;
    margin-bottom: 10px;
}

.space {
    margin-left: 101px;
}

span {
    color: #666666;
    font-family: serif, arial;
}

.title3 {
    display: inline-block;
    margin-left: -514px;
    position: relative;
    left: 44px;
    bottom: -143px;
}