.logo {
	float: left;
	margin: 40px 0 0 112px;
}

.coffeeGrane {
	float: right;
	margin: 112px 161px 0 0;
}

.leftArrow {
	left: -521px;
    position: relative;
    top: 168px;
}

.rightArrow {
	position: relative;
    right: -514px;
    top: 169px; 
}

.pictures {
	float: left;
}

.arrowCircle {
	left: 624px;
	position: relative;
    top: -47px;
}