/*--- General -----*/
.wrapper {
    width: 800px;
    margin: 0 auto;
}

/*--- Header -----*/

.title {
    border-bottom: $border-bottom;
    line-height: 50px;
}

.picture {
    float: right;
    margin-top: -86px;
}

.info {
    font-family: $font;
}

.colorD {
    color: $gray;
}

/*--- Main Content -----*/
.content {
    margin-top: 20px;
    display: $display-IB;
    margin-left: 73px;
} 
.line {
    border-right: $line-right;
    float: left;
    width: 85px;
    height: 120px;
    margin-bottom: -120px;
}

 .title2 {
    display: $display-IB;
    margin-left: -25px;
    margin-bottom: 10px;
}

.space {
    margin-left: 101px;
}

.title3 {
    display: $display-IB;
    margin-left: -514px;
    position: relative;
    left: 44px;
    bottom: -143px;
}