.logo {
	float: left;
	margin: 2.5em 0 0 7em;
}

.coffeeGrane {
	clear: both;
	float: right;
	margin: -10em 10.0625em 0 0;
}

.leftArrow {
	clear: both;
	float: left;
	margin: -3.75em 0 0 8.8125em;
}

.rightArrow {
	clear: both;
	float: right;
	margin: -3.75em 7.55em 0 0;
}

.pictures {
	float: left;
}

.arrowCircle {
	left: 39em;
	position: relative;
    top: -2.9375em;
}
