nav {
 	background: #f4f3f3;
 	border-bottom: 0.0625em solid #d6d6d6;
 	border-radius: 5em;
 	height: 3.5em;
 	margin: 0.9375em auto;
 	margin-right: 5em;
 	overflow: hidden;
 	width: 32.3125em;
}

.menu {
	display: table;
	table-layout: fixed;

	li{
		border-right: 0.0625em solid #e6e6e6;
		display: inline;
		letter-spacing: 0.125em;
		margin: 0 0.75em 0 0.625em;
		overflow: hidden;
		padding: 0.125em;

		&:first-child {
			margin: 0 auto;
			border-left: none;
  		}
   		&:last-child {
			border-right: none;

  		}
	}

 	a{
	color: #664735;
	text-decoration: none;
	padding: 0.125em;
	}

}
